/*CSS của Yoshi 8bit draw*/
body{
    display: flex; /*dùng flexbox*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

section{     /*kẻ ô*/
   display: grid;
   grid-template-columns: repeat(25,15px); /*1 dòng 25 ô, mỗi ô có độ rộng 15px */
   grid-template-rows: repeat(30,15px); /*1 cột 30 ô, mỗi ô 15px*/
    
}

div{
    border: 1px solid #000000;
}

.black {background-color: #000000;}

.green3 {background-color: #123213;}
.green2 {background-color: #035E01;}
.green1 {background-color: #0AAB07;}

.red3 {background-color: #8F210C;}
.red2 {background-color: #FF1B02;}
.red1 {background-color: #FF8B02;}

.pink3 {background-color: #FE9689;}
.pink2 {background-color: #FFBCA1;}
.white {background-color: #F8F7F5;}

